## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

# installed filed
node_modules/

# assets folder to protect proprietary data
src/assets/*
!src/assets/*.sample.ts

#Debugging files
firebase-debug.log
