<div fxFill fxLayoutAlign="center start">
  <form [formGroup]="formGroup" (ngSubmit)="register()" class="form-container">
    <div fxLayoutAlign="center stretch" fxLayout="column" fxLayoutGap="25px" fxFill>
      <mat-form-field fxFlex>
        <input matInput placeholder="Email" required [formControl]="email" />
        <mat-error *ngIf="email.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Must be a valid email
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Register!</button>
    </div>
  </form>
</div>
