<mat-card class="solo-mat-card" fxFlex="40" fxFlex.xs="100" fxLayout="column">
    <mat-card-header>Export Xpert Plan</mat-card-header>
    <mat-card-content fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex="80" fxFlex.xs="100">
            <mat-label>Export as...</mat-label>
            <mat-select [formControl]="exportFormat">
                <mat-option *ngFor="let format of exportOptions" [value]="format">
                    {{ format.description }} (.{{ format.extension }})
                </mat-option>
            </mat-select>
            <mat-error *ngIf="exportFormat.hasError('required')">Choose a file format</mat-error>
        </mat-form-field>
        <div fxFlex="20" fxFlex.xs="100" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" fxFlex="100" (click)="onExport()" [disabled]="exportFormat.invalid">Export</button>
        </div>
    </mat-card-content>
</mat-card>