<mat-card>
  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let category of categories$ | async; let i = index">
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>{{ category.name }}</mat-panel-title>
        <mat-panel-description>{{ getPointsDisplayByIndex(i) | async }}</mat-panel-description>
      </mat-expansion-panel-header>
      <app-item-list [categoryId]="category.id" (formReady)="registerArrayForm('plan', i, $event)"
        (forecastedPoints$)="setPointsForecasted(i, $event)" (earnedPoints$)="setPointsEarned(i, $event)">
      </app-item-list>
    </mat-expansion-panel>
  </mat-accordion>
  <h3>Total Forecasted: {{ totalForecasted$ | async }}</h3>
  <h3>Total Earned: {{ totalEarned$ | async }}</h3>
</mat-card>
